<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="row1">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="search" placeholder="Buscar productos, marcas">
                    <button type="submit" class="button-search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <p class="quota"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul id="top-list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul id="right-list">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="home">
        <div>
            <img class="banner" src="/images/img-home-banner.jpg" width="100%" alt="Imagen con oferta">
        </div>
        <section class="conteinCard">
            <h3 class="section-title">Basado en tu ultima visita</h3>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$230.000</p>
                        <p>20% OFF</p>
                    </div>
                    <h5 class="product-name">Macbook Pro 2019</h5>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$70.500</p>
                        <p>10% OFF</p>
                    </div>
                    <h5 class="product-name">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5 class="product-name">SmarTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        <section class="conteinCard">
            <h3 class="section-title">Ofertas</h3>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$230.000</p>
                        <p>20% OFF</p>
                    </div>
                    <h5 class="product-name">MacBook Pro 2019</h5>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$70.500</p>
                        <p>10% OFF</p>
                    </div>
                    <h5 class="product-name">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5 class="product-name">SmarTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <hr>
        <article class="footer-article">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="footer-article">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="footer-article">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <h3 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L. Angel Guillermo Montaña</h3>
    </footer>

    <script src="/javascript/script.js"></script>
</body>

</html>
