footer {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-top: 5px;
    position: relative;
    bottom: 0;
}
footer article {
    margin-bottom: 40px;
}

footer article.footer-article {
    text-align: center;

}

footer article.footer-article h5 {
    font-size: var(--discounts_descriptions);
}

footer article.footer-article i{
    color: var(--light_blue);
    font-size: 32px;
    margin-bottom: 15px;
}

footer article.footer-article p {
    font-size: var(--paragraph);
    width: 77%;
    margin: 0 auto;
}

footer .copy {
    color: var(--dark_grey);
    font-size: var(--paragraph);
    margin: 0 0 10px 15px;
}

hr {
    margin-bottom: 15px;
    margin-left: 8vw;
    height: 2px;
    width: 84vw;
    background-color: var(--light_blue);
    box-shadow: 0px 0px 5px 1px var(--dark_grey);
}

@media (min-width: 361px) {

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer article {
        width: 30vw;
    }

    footer article.footer-article i {
        transition: all 500ms ease-in-out;
    }

    footer article.footer-article i:hover {
        color: var(--yellow);
        transition: all 500ms ease-in-out;
    }

    hr {
        margin-left: 0;
    }

}